[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtts = "*"
pyttsx3 = "*"
playsound = "==1.2.2"
speechrecognition = "*"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.9"
